<!DOCTYPE html lang="en">
<html>

<head>
  <meta charset="UTF-8">
  <title>Ai Poem Generator - Free Online Poetry Writer & Creator Tool</title>
  <meta name="title" content="Ai Poem Generator - Free Online Poetry Writer & Creator Tool">
  <meta name="description"
    content="Our online AI poem maker creates personalized poetry in minutes. choose a topic and let our tool do the work. Try our free online poem generator today.">
  <meta name="keywords" content="ai poem generator, ai poem generator free online, poem maker, poem creator">
  <link rel="canonical" href="https://ai-poemgenerator.com">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="follow, index, noarchive, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
  <link rel="icon" type="image/x-icon" href="/img/ai-poemgenerator-logo.svg">
  <meta property="og:title" content="Ai Poem Generator - Free Online Poetry Writer & Creator Tool">
  <meta property="og:description"
    content="Generate creative and unique poems on any topic with our free AI Poem Generator. No sign-up required, unlimited poems, and fully safe and secure.">
  <meta property="og:url" content="https://ai-poemgenerator.com/">
  <meta property="og:image" content="https://ai-poemgenerator.com/img/ai-poemgenerator-logo.svg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Ai Poem Generator - Free Online Poetry Writer & Creator Tool">
  <meta name="twitter:description"
    content="Our online AI poem maker creates personalized poetry in minutes. choose a topic and let our tool do the work. Try our free online poem generator today.">
  <meta name="twitter:url" content="https://ai-poemgenerator.com/">
  <meta name="twitter:image" content="https://ai-poemgenerator.com/img/ai-poemgenerator-logo.svg">

</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy-policy">Privacy</a></li>
    </ul>
  </nav>
  <div class="outer-container" id="outer-div">
    <div class="container">
      <h1>Ai Poem Generator</h1>
      <form>
        <label for="topic">Enter a Topic To Generate Poem:</label>
        <input type="text" id="topic" name="topic" required>
        <button type="submit">Generate Poem
        </button>
      </form>
      <div id="poem"></div>
    </div>
    <a href="/acrostic-poem-generator">Also try Our Acrostic Poem Generator</a>
  </div>
  <div class="content-container">
    <h2>Ai Poem Generator - Free Online Poetry Creator Tool</h2>
    <p>Welcome To Ai Poem Generator Free Online Tool. Are You Struggling To Find The Perfect Way To Express Your
      Feelings To Someone Special? Or Are You Looking For A Unique Gift That Will Make Their Heart Melt? Look No Further
      Than Ai Poem Generator, The Ultimate Destination For Personalized Poetry Created With Ai Technology.</p>
    <p>With Our Free Ai Poem Writerr Tool, You Can Easily Create A Wide Range Of Poems Tailored To Your Specific Needs.
      Whether You Want To Write An Acrostic Poem, Love Poem, Rhyming Poem, Random Poem Or A Free Verse, Our Generator
      Has Got You Covered. Here&apos;s How Our Poem Generator Works:</p>
    <br>
    <h2>What Is Ai Poem Generator</h2>
    <p>An Ai Poem Generator Is A Tool That Uses Artificial Intelligence Technology To Create Poems Based On User Input.
      It Works By Analyzing The Topic, Style, And Length Provided By The User, And Then Using A Complex Algorithm To
      Generate A Unique And Personalized Poem.</p>
    <p>It&apos;s Important To Note That Ai Technology Does Have Its Limitations When It Comes To Generating Poems. While
      The Generator Can Produce Impressive Results, It May Not Always Capture The Nuances And Emotions Of Human-Written
      Poetry. Therefore, It&apos;s Important To View The Ai-Generated Poems As A Starting Point Or Source Of
      Inspiration, Rather Than A Replacement For Human Creativity.</p>
    <p><br></p>
    <h2>How To Use Ai Poem Generator Online Free</h2>
    <ol>
      <li>
        <p>Visit The Ai-Poemgenerator.Com Website And Locate The &ldquo;Text Box&quot;.</p>
      </li>
      <li>
        <p>Type In The Topic Or Theme That You Want The Poem To Be About In The Text Box Provided.</p>
      </li>
      <li>
        <p>Click On The &quot;Generate Poem&quot; Button.</p>
      </li>
      <li>
        <p>Wait For A Few Seconds As The Ai Poem Generator Analyzes Your Input And Generates A Unique And Personalized
          Poem.</p>
      </li>
      <li>
        <p>Once The Poem Is Generated, It Will Appear On The Screen. You Can Read The Poem And Decide If You Want To
          Keep It Or Generate Another Poem By Clicking On The &quot;Generate Poem&quot; Button Again.</p>
      </li>
      <li>
        <p>If You Like The Generated Poem, You Can Save It Or Share It With Your Friends And Family Via Social Media Or
          Email.</p>
      </li>
    </ol>
    <p><br></p>
    <h2>Types Of Poems</h2>
    <p>Poetry Is A Form Of Creative Expression That Comes In Many Different Forms And Styles. Here Are Some Of The Most
      Common Types Of Poems:</p>
    <h3>Acrostic Poem -&nbsp;</h3>
    <p>This Type Of Poem Spells Out A Word Or Phrase Vertically, And Then Uses Each Letter As The First Letter Of A Line
      In The Poem.</p>
    <h3>Love Poem -</h3>
    <p>&nbsp;As The Name Suggests, This Type Of Poem Is About Love Or Romantic Relationships. Love Poems Can Be Written
      In Various Styles And Forms, But They Usually Express Strong Emotions And Feelings.</p>
    <h3>Random Poem -&nbsp;</h3>
    <p>This Type Of Poem Is Created By Generating Words Or Phrases Randomly And Then Arranging Them Into A Coherent
      Structure. The Result Can Be Surprising And Often Surreal.</p>
    <h3>Rhyming Poem -</h3>
    <p>&nbsp;This Type Of Poem Uses Words That Have The Same Or Similar Sounds At The End Of Each Line. Rhyming Poems
      Can Be Playful, Humorous, Or Serious, Depending On The Tone And Subject Matter.</p>
    <h3>Free Verse Poem -&nbsp;</h3>
    <p>This Type Of Poem Does Not Follow A Strict Rhyme Scheme Or Meter. Instead, It Relies On The Natural Rhythms Of
      Language And The Poet&apos;s Creativity To Create A Unique And Expressive Piece.</p>
    <h3>Sonnet -&nbsp;</h3>
    <p>This Type Of Poem Is A 14-Line Poem That Follows A Strict Rhyme Scheme And Meter. Sonnets Are Often Used To
      Express Love Or Other Strong Emotions, And They Can Be Challenging To Write Due To Their Structure And Form.</p>
    <p>These Are Just A Few Examples Of The Many Types Of Poems That Exist. Each Type Offers Its Own Unique Challenges
      And Rewards For The Poet, And They All Contribute To The Rich And Diverse World Of Poetry.</p>
    <p><br></p>
    <p><br></p>
    <h2>Benefits Of Ai Poem Creator | Maker | Creator | Generator</h2>
    <p><br></p>
    <h3>Saves Time:&nbsp;</h3>
    <p>Writing A Poem Can Take A Lot Of Time And Effort, But An Ai Poem Generator Can Produce A Poem In Just A Few
      Seconds. This Can Be A Huge Time-Saver For Poets Who Are Pressed For Time Or Struggling With Writer&apos;s Block.
    </p>
    <h3>Enhances Creativity:&nbsp;</h3>
    <p>An Ai Poem Generator Can Inspire Poets To Think Outside The Box And Come Up With Unique Ideas And Perspectives.
      It Can Also Introduce Poets To New Vocabulary And Literary Techniques That They May Not Have Thought Of On Their
      Own.</p>
    <h3>Offers Variety:</h3>
    <p>With An Ai Poem Generator, Poets Can Create Poems In A Variety Of Styles And Forms, From Acrostic And Rhyming To
      Free Verse And Random. This Can Help Poets To Experiment With Different Styles And Find The One That Suits Them
      Best.</p>
    <h3>Generates Personalized Poems:</h3>
    <p>An Ai Poem Generator Can Analyze User Input And Generate A Personalized Poem Based On The Topic Or Theme They
      Choose. This Can Make The Poem More Meaningful And Relevant To The Poet And The Person They Are Writing It For.
    </p>
    <h3>Provides Inspiration:&nbsp;</h3>
    <p>An Ai Poem Generator Can Provide Poets With A Starting Point For Their Own Creative Writing. Even If They
      Don&apos;t Use The Generated Poem Directly, It Can Serve As Inspiration For Their Own Work And Spark New Ideas.
    </p>
    <p><br></p>
    <p><br></p>

  </div>
  <script>

    const form = document.querySelector('form');
    const input = document.querySelector('#topic');
    const poemContainer = document.querySelector('#poem');
    const submitButton = document.querySelector('button[type="submit"]');

    form.addEventListener('submit', function (event) {
      event.preventDefault();

      // Disable the submit button and change the text
      submitButton.disabled = true;
      submitButton.innerHTML = 'Generating poem<span class="loading-dots">.</span>';

      // Get the topic from the input field
      const topic = input.value.trim();
      const prompt = `Write a poem about ${topic}. in easy to understand english language. poem should be unique.`
      let  change_css= document.getElementById("outer-div");
      // Send the API request to generate a poem
      fetch(`/generate?prompt=${encodeURIComponent(prompt)}`)
        .then(response => response.text())
        .then(poem => {
          // Display the generated poem
          poemContainer.innerHTML = `<p>${poem}</p>`;



          // Set the CSS properties using the setProperty() method
          change_css.style.setProperty("height", "auto");
          change_css.style.setProperty("padding-top", "100px");
          // Re-enable the submit button and change the text back to "Generate Poem"
          submitButton.disabled = false;
          submitButton.innerHTML = 'Generate Poem';
        })
        .catch(error => {
          console.error(error);
          poemContainer.innerHTML = '<p>An error occurred. Please try again later.</p>';
          // Re-enable the submit button and change the text back to "Generate Poem"
          submitButton.disabled = false;
          submitButton.innerHTML = 'Generate Poem';
        });
    });

    // Animate the loading dots
    setInterval(function () {
const loadingDots = document.querySelector('.loading-dots');
if (loadingDots) {
if (loadingDots.textContent.length < 4) {
loadingDots.textContent += '.';
} else {
loadingDots.textContent = '';
}
}
}, 300);



  </script>
  <footer>

    <div class="footer">
      <p>&copy; 2023 AiPoemGenerator | All Rights Reserved.</p>


  </footer>
</body>

</html>